@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: #fff;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

body {
    background: #181818;
}

.top__nav {
    background: #FFAA4C;
    padding: 0 60px;
}



.top__nav nav ul {
    display: flex;
    li {
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 500;
    }
}
.top__nav nav ul .active a { color: #fff; }
.top__nav nav ul .nn a { color: #000; }

nav ul .active {
    background: #181818;
    border-radius: 16px 16px 0 0;
    
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 60px;
    z-index: 100;
    background: #181818;
}

.scrolled {
    position: fixed;
    top: 0;
}

.gray__bg {
    position: relative;
    overflow: hidden;
    height: 58px;
    width: 200px;
    padding: 15px 30px;
    border: 0;
    border-radius: 16px;
    background: #954CED;
    font-size: 20px;
    font-weight: 600;
}

.write__bg {
    position: relative;
    overflow: hidden;
    width: 200px;
    padding: 15px 30px;
    border: 0;
    border-radius: 16px;
    background: #954CED;
    font-size: 20px;
    font-weight: 600;
}

.gray__bg:active:enabled,
.write__bg:active:enabled {
    background: #181818;
}

.gray__bg::before,
.write__bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 300%;
    background-color: #181818;
    border-radius: 16px 20px 70% 16px;
    transform: translate(-45%);
    transition: width 0.5s ease;
    z-index: 0;
}

.gray__bg:hover::before,
.write__bg:hover::before {
    width: 800%;
}

.gray__bg:hover {
    color: white;
    border: 2px solid #9b59b6; 
}

.write__bg:hover {
    color: white;
}

.gray__bg > *,
.write__bg > * {
    position: relative;
    z-index: 3;
}





.win-form {
    padding: 15px;
    width: 430px;
    margin: auto;
    border-radius: 16px;
    .close {
        color: #B9B9B9;
        float: right;
        cursor: pointer;
        line-height: 80%;
        overflow: hidden;
        font-size: 20px;
    }
    form {
        padding: 0 20px;
        width: 100%;
        label {
            color: #070707;
        }
        input {
            width: 100%;
            padding: 13px;
            border: 1px #F1F1F1 solid;
            border-radius: 16px;
            margin: 5px 0 15px 0;
        }
        input::placeholder {
            color: #A7A7A7;
        }
        .agree {
            color: #000;
            margin: 5px 0 20px 0;
            a {
                color: #954CED;
                text-decoration: underline;
            }
        }
        button {
            margin-bottom: 20px;
        }
    }
    .thanks {
        width: 100%;
        text-align: center;
        padding: 0 20px;
        h1 {
            color: #A64CED;
            font-size: 36px;
            margin: 20px auto;
        }
        p {
            font-size: 24px;
            color: #444444;
        }
        button {
            width: 100%;
            margin: 20px auto;
        }
    }
}





.hero {
    margin-top: 150px;
    h1 {
        width: 50%;
    }
    p {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 20px;
        width: 40%;
        line-height: 120%;
    }
    .picture {
        position: absolute;
        top: 200px;
        right: 0;
        z-index: 0;
    }
}

h1 {
    font-size: 96px;
    line-height: 106%;
    overflow: hidden;
}




.about {
    margin-top: 250px;
    .info {
        display: grid;
        grid-template-columns: 1fr 58%;
        justify-content: space-between;
        margin-top: 80px;
        p {
            width: 90%;
        }
        .blocks {
            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .block {
                position: relative;
                z-index: 3;
                width: 48%;
                h2 {
                    margin-top: 10px;
                }
                p {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 70px;
                    font-size: 24px;
                    line-height: 120%;
                }
            }
        }
    }
    .picture {
        position: absolute;
        top: 1300px;
        left: 0;
        z-index: 0;
    }
}

h2 {
    font-size: 48px;
    line-height: 106%;
    overflow: hidden;
}

p {
    overflow: hidden;
}

.bold-p {
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
}

.marquee {
    position: relative;
    padding: 150px 0;
    .pad {
        padding-top: 80px;
    }
    .lines1,
    .lines2 {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 80px;
    }
    .lines1 .line {
        display: flex;
        width: 4131.32px;
        animation: lines1 17s linear infinite;
    }
    .lines2 .line {
        display: flex;
        width: 4131.32px;
        animation: lines2 17s linear infinite;
    }
    .lines1 .line h1,
    .lines2 .line h1 {
        color: #181818;
        filter: drop-shadow(0 0 2px #444444);
        line-height: 106%;
        width: 100%;
        font-size: 128px;
        white-space: nowrap;
    }
    .lines1 .line h1.color-blue {
        filter: none;
        color: #2FDBBC;
    }
    .lines2 .line h1.color-violet {
        filter: none;
        color: #A64CED;
    }
    .lines1 .line h1.color-yellow {
        filter: none;
        color: #FFAA4C;
    }
    .picture {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes lines1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes lines2 {
    100% {
        transform: translateX(0%);
    }
    0% {
        transform: translateX(-50%);
    }
}



.info-blocks {
    width: 100%;
    padding: 40px ;
    background: #954CED;
    .blocks {
        margin: 0 auto;
        display: flex;
        justify-content: center ;
        gap: 100px;
        .block {
            width: 15%;
        }
    }
}

.info-blocks .blocks .block h1 {
    font-size: 64px;
    line-height: 106%;
}

.info-blocks .blocks .block p {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
}




.why {
    margin-top: 100px;
    h1 {
        font-size: 64px;
        line-height: 106%;
        text-align: center;
    }
    p {
        font-size: 36px;
        font-weight: 600;
        width: 45%;
        margin: 20px auto;
        text-align: center;
    }
    .blocks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 60px auto;
        .block {
            display: flex;
            gap: 20px;
            margin: 10px auto;
        }
    }
}

.contact {
    background: #fff;
    h1, p {
        color: #000;
    }
    .grow {
        width: 100%;
        margin: 100px auto;
        border: 1px #CFCFCF solid;
        border-radius: 50px;
        padding: 60px;
        text-align: center;
        h1 {
            font-size: 64px;
            line-height: 106%;
            margin-bottom: 40px;
        }
    }
    .brand {
        display: grid;
        grid-template-columns: 1fr 500px;
        flex-wrap: wrap;
        div {
            h1 {
                font-size: 96px;
                line-height: 106%;
                margin-bottom: 20px;
            }
            p {
                width: 65%;
                font-size: 20px;
                line-height: 120%;
            }
        }
        .social {
            margin: 45px;
            display: flex;
            gap: 8%;
            justify-content: right;
            div {
                width: 90px;
                overflow: hidden;
                height: 90px;
            }
            .down {
                margin-top: 90px;
            }
        }
    }
    .spon {
        width: 100%;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px auto;
    }
}

.spon div,
.brand .social div,
footer .top .btns div div {
    cursor: pointer;
}




footer {
    padding: 20px 0;
    .top {
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .logo, nav {
            margin: auto 0;
        }
        nav ul {
            display: flex;
            gap: 40px;
            margin: auto;
            li a {
                font-size: 20px;
            }
        }
        .btns {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            button {
                margin-right: 20px;
            }
            div {
                display: flex;
                gap: 20px;
            }
        }
    }
    hr {
        border: 1px #444444 solid;
        margin-bottom: 20px;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;
        p, a {
            color: #B9B9B9;
        }
        ul {
            display: flex;
            gap: 20px;
            li a {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1296px) {
    .about .picture {
        top: 1550px;
    }
}

@media (max-width: 1120px) {
    .hero {
        h1 {
            font-size: 76px;
            width: 100%;
        }
        p {
            font-size: 18px;
            width: 60%;
        }
        .picture {
            top: 500px;
        }
    }
    .about {
        margin-top: 700px;
        h1 {
            font-size: 76px;
        }
        .info {
            margin-top: 30px;
            .bold-p {
                font-size: 26px;
            }
            .blocks .block {
                h2 {
                    font-size: 36px;
                }
                p {
                    font-size: 18px;
                }
            } 
        } 
    }
    .why {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 28px;
        }
    }
    .contact {
        .grow {
            h1 {
                font-size: 54px;
            }
        }
        .brand {
            div {
                h1 { font-size: 70px; }
                p { font-size: 18px; }
            } 
        }
    } 
}

@media (max-width: 1000px) {
    .contact .brand {
        grid-template-columns: 1fr;
        .social {
            justify-content: left;
        }
    } 
}

@media (max-width: 900px) {
    .info-blocks {
        padding: 40px 0 0 0;
        .blocks {
            display: block;
            width: 70%;
            margin: 0 auto;
            .block {
                width: 100%;
                display: flex;
                margin-bottom: 40px;
                p {
                    margin: auto 20px;
                }
            }
        }
    } 
    .why .blocks {
        margin: 30px auto;
    }
}

@media (max-width: 800px) {
    .hero {
        p {
            width: 100%;
        }
        .picture {
            top: 600px;
        }
    }
    .about {
        margin-top: 500px;
        .info {
            margin-top: 50px;
            grid-template-columns: 1fr;
            .bold-p {
                margin-bottom: 40px;
            }
        }
        .picture {
            display: none;
        }
    } 
    .marquee {
        .lines1 .line h1,
        .lines2 .line h1 {
            font-size: 48px;
            white-space: nowrap;
        }
        .lines1 .line,
        .lines2 .line {
            width: 1549.24px;
        }
    }
    .contact .grow {
        padding:50px 30px;
        h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 700px) {
    .info-blocks .blocks {
        width: 90%;
        .block p {
            width: 50%;
        }
    }
    .why {
        p {
            width: 70%;
        }
        .blocks {
            display: block;
            .block {
                margin: 0 auto 20px auto;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    } 
    .contact .brand {
        div h1 { font-size: 60px; }
        .social {
            margin: 40px 20px;
            div {
                width: 65px;
                height: 65px;
            }
            .down { margin-top: 65px; }
        }
    } 
    footer .bottom ul {
        display: block;
        li {
            margin: 10px 0;
        }
    }
    .win-form .thanks {
        h1 { font-size: 30px; }
        p { font-size: 20px; }
    }
}

@media (max-width: 550px) {
    .top__nav {
        padding: 0;
        
    }
    header {
        padding: 10px;
        button {
            display: none;
        }
    }
    .hero {
        margin-top: 50px;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 16px;
        }
        button {
            width: 100%;
        }
        .picture {
            top: 500px;
        }
    }
    .about {
        margin-top: 550px;
        h1 {
            font-size: 40px;
        }
        .info {
            .bold-p {
                font-size: 24px;
            }
            .blocks .block {
                width: 100%;
                h2 {
                    font-size: 32px;
                }
                p {
                    margin: 20px 0;
                    font-size: 16px;
                }
            }
        }
    }
    .info-blocks .blocks .block {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    } 
    .why {
        margin-top: 70px;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 24px;
            width: 90%;
        }
        .blocks {
            display: block;
            .block {
                margin: 0 auto 20px auto;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    } 
    .contact {
        .brand {
            div {
                h1 { font-size: 40px; }
            } 
        }
        .grow {
            padding: 30px;
            h1 {
                font-size: 40px;
            }
            button {
                width: 100%;
            }
        }
    } 
    footer .top .btns {
        
        button {
            width: 100%;
            margin-right: 0;
        }
    } 
    .win-form .thanks {
        h1 { font-size: 24px; }
        p { font-size: 20px; }
    }
}

@media (max-width: 504px) {
    footer .top nav {
        margin: 10px 0 20px 0;
    }
}